@{
	List<string> breadCrumb = null;
	if (ViewBag.BreadCrumb != null)
	{
		breadCrumb = (List<string>)ViewBag.BreadCrumb;
	}
	else
	{
		breadCrumb = new List<string>();
	}
}
<!-- Page header -->
<div class="page-header">
	<div class="page-header page-header-light shadow">
		<div class="page-header-content d-lg-flex">
			<div class="collapse d-lg-block my-lg-auto ms-lg-auto" id="page_header">
				<div class="d-sm-flex align-items-center mb-3 mb-lg-0 ms-lg-3">
				</div>
			</div>
		</div>
		<div class="page-header-content d-lg-flex border-top">
			<div class="d-flex">
				<div class="breadcrumb py-2">
					<a href="/Home" class="breadcrumb-item"><i class="ph-house"></i></a>
					@for (int i = 0; i < breadCrumb.Count; i++)
					{
						@Html.Raw(breadCrumb[i])
					}
				</div>
				<a href="#breadcrumb_elements"
				   class="btn btn-light align-self-center collapsed d-lg-none border-transparent rounded-pill p-0 ms-auto"
				   data-bs-toggle="collapse">
					<i class="ph-caret-down collapsible-indicator ph-sm m-1"></i>
				</a>
			</div>
			<div class="collapse d-lg-block ms-lg-auto" id="breadcrumb_elements"></div>
		</div>
	</div>
</div>
<!-- /page header -->
