@using tpm.business.Helpers;
@using tpm.dto.admin;
@using Microsoft.AspNetCore.Http;


<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Tiền Phong Media - Marketing cam kết hiệu quả</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link href="~/assets/fonts/inter/inter.css" rel="stylesheet" />
    <link href="~/assets/icons/phosphor/styles.min.css" rel="stylesheet" />
    <link href="~/assets/css/ltr/all.min.css" rel="stylesheet" />
    <link href="~/assets/fontawesome-free-6.4.0-web/css/all.css" rel="stylesheet" />
    <link href="~/assets/fontawesome-free-6.4.0-web/css/all.min.css" rel="stylesheet" />
    <script src="~/assets/js/jquery/jquery.min.js"></script>
    <script src="~/assets/js/app.js"></script>
    <script src="~/assets/js/bootstrap/bootstrap.bundle.min.js"></script>
    <script src="~/assets/js/jquery/jquery.min.js"></script>
    <script src="~/wwwroot/js/datatables.min.js"></script>
    
</head>
<body>
    <div class="page-content">
        <div class="content-inner">
            <!-- Main sidebar -->
            <div class="sidebar-wrapper">
                <!-- Sidebar header -->
                <div class="sidebar-header">
                    <div class="navbar-brand">
                        <a href="/" class="d-inline-flex align-items-center">
                            <img style="height: 45px" src="~/assets/images/logo.png" />
                        </a>
                    </div>
                </div>
                <!-- /sidebar header -->
                <nav class="navbar navbar-expand-lg">
                    <div class="container">

                        <div class="d-lg-none ms-auto me-4">
                            <a href="#top" class="navbar-icon bi-person smoothscroll"></a>
                        </div>

                        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                            <span class="navbar-toggler-icon"></span>
                        </button>

                        <div class="collapse navbar-collapse" id="navbarNav">
                            <ul class="navbar-nav ms-lg-5 me-lg-auto">
                                <li class="nav-item dropdown">
                                    <a class="nav-link dropdown-toggle" href="#" id="navbarLightDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">Nhân Viên</a>
                                    <ul class="dropdown-menu dropdown-menu-light" aria-labelledby="navbarLightDropdownMenuLink">
                                        <li><a class="dropdown-item" asp-controller="Employees" asp-action="Index">Danh Sách Nhân Viên</a></li>
                                    </ul>
                                </li>
                                <li class="nav-item dropdown">
                                    <a class="nav-link dropdown-toggle" href="#" id="navbarLightDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">Hợp Đồng</a>
                                    <ul class="dropdown-menu dropdown-menu-light" aria-labelledby="navbarLightDropdownMenuLink">
                                        <li><a class="dropdown-item" asp-controller="Contracts" asp-action="Index">Danh Sách Hợp Đồng</a></li>
                                        <li><a class="dropdown-item" asp-controller="Contracts" asp-action="Create">Thêm Mới Hợp Đồng</a></li>
                                    </ul>
                                </li>
                            </ul>
                            <div class="col mr-auto">
                                <div class="d-lg-flex mb-2 mb-lg-0">
                                    @{
                                        var session = Context.Request.HttpContext.Session;
                                    }

                                    <ul class="nav flex-row justify-content-end order-1 order-lg-2">
                                        @if (session.GetString(SessionKeys.CurrentUser) == null)
                                        {
                                            <a style="margin:0 10px; color: white !important" class="d-flex align-items-center text-body py-2" asp-controller="Accounts" asp-action="Login">Login</a>
                                        }
                                        else
                                        {
                                            var currentUser = session.GetString(SessionKeys.CurrentUser);
                                            var email = currentUser.Split('|')[0];

                                            <a style="margin:0 10px; color: white !important" class="d-flex align-items-center text-body py-2 " asp-controller="Accounts" asp-action="Logout">Log Out</a>
                                        }
                                    </ul>


                                </div>
                            </div>
                            <div class="d-none d-lg-block">
                                <a href="#top" class="navbar-icon bi-person smoothscroll"></a>
                            </div>
                        </div>
                    </div>
                </nav>
                <!-- /Main navigation -->
            </div>

            @RenderBody()
            @RenderSection("Scripts", required: false)
        </div>
    </div>
    <!-- Demo config -->
    <div class="offcanvas offcanvas-end" tabindex="-1" id="demo_config">
        <div class="border-top text-center py-2 px-3">
            <a href="https://themeforest.net/item/limitless-responsive-web-application-kit/13080328?ref=kopyov"
               class="btn btn-yellow fw-semibold w-100 my-1" target="_blank">
                <i class="ph-shopping-cart me-2"></i>
                Purchase Limitless
            </a>
        </div>
    </div>
    <script src="https://kit.fontawesome.com/df59c9df20.js" crossorigin="anonymous"></script>
</body>
</html>
