<div class="input-group">
    <input type="text"
           placeholder="{{myroot.Core.label}}" class="form-control myDtm"
           ng-model="myroot.ValueDisplay"
           ng-disabled="myroot.Core.IsDisabled"
           data-val="true" data-val-required="Vui lòng nhập thông tin" />
    <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
</div>

<!--<div class="form-group">
    <label>
        {{myroot.Core.label}}
        <span ng-if="myroot.Core.ValidType.length > 0"
              class="field-validation-valid help-block"
              data-valmsg-for="{{myroot.ID}}" data-valmsg-replace="true"
              style="display: inline;"></span>
    </label>
    <div class="input-group">
        <input type="text" id="{{myroot.ID}}" name="{{myroot.ID}}"
               placeholder="{{myroot.Core.label}}" class="form-control myDtm"
               ng-model="myroot.ValueClientDisplay"
               data-val="true" data-val-required="Vui lòng nhập thông tin" />
        <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
    </div>
</div>-->
