@{
    ViewData["Title"] = "Home Page";
    List<string> BreadCrumb = new List<string>();
    //BreadCrumb.Add("<a href='index.html' class='breadcrumb-item'>name</a>");
    BreadCrumb.Add("<span class='breadcrumb-item active'> Trang chủ</span>");
    ViewBag.BreadCrumb = BreadCrumb;
}

<div class="content-inner" ng-controller="IndexController">
    <div class="card">
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-bordered datatable-basic table-hover">
                    <thead>
                        <tr>
                            <th style="text-align: center;">Tên phòng</th>
                            <th style="text-align: center;">Khách thuê</th>
                            <th style="text-align: center;">Thời gian</th>
                            <th style="text-align: center;">Ghi chú</th>
                            <th style="text-align:center; width: 10rem;">Thao tác</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="item in home.roomInfo">
                            <td>{{item.RoomName}}</td>
                            <td>{{item.CustomerName}}</td>
                            <td>{{item.Time}}</td>
                            <td>{{item.Note}}</td>
                            <td style="text-align: center;vertical-align: middle; padding: 0px; margin: 0;">
                                <a href="/ProductUnits/Edit/{{item.ProductUnitID}}"
                            <i class="icon-pencil7 icon-1x" title="Cập nhật"></i>
                        </a>
                                <a href="#" ng-click="ProductUnits.Delete(item.ProductUnitID)" class="text-danger">
                                    <i class="icon-bin icon-1x" title="Xóa"></i>
                                </a>
                            </td>
                        </tr>
                        <tr ng-show="home.roomInfo == 0" style="text-align:center" class="ng-hide">
                            <td colspan="6">Không có dữ liệu</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>


@section jsScript {
    <script src="~/script-handler/home/home.js"></script>
}