<div class="input-group mycustomjstree">
    <!--get-width="myroot.Width"-->
    <div class="input">
        <div class="dropdown">
            <input class="dropdown_HelpTrees form-control" placeholder="{{placeHolder}}" style="background:{{ !myroot.IsDisableOpenTree ? '#fff' : '#eee'}};cursor: pointer;{{ !myroot.IsDisableOpenTree ? '' : 'border-right: 0px;'}}" type="text" readonly="readonly" ng-model="myroot.txtDisplay.Text" data-toggle="{{ !myroot.IsDisableOpenTree ? 'dropdown' : 'blab'}}" ng-disabled="myroot.IsDisableOpenTree">
            <div class="keep-open dropdown-menu"
                 style="padding:0;margin-top: 30px;top:0px;width:{{myroot.Width}}">
                <div class="scrollable-menu" style="width:{{myroot.Width}}; max-height:400px; overflow:auto;">
                    <div class="col-sm-12 col-md-12 col-lg-12" style="padding: 5px 5px 0px 5px; " ng-show="myroot.Core.IsShowSearch">
                        <input class="ng-tree-search searchInput_HelpTrees form-control"
                               style="margin-bottom:5px;"
                               placeholder="Nhập từ khóa cần tìm"
                               ng-model="myroot.txtKeySearch.Text">
                    </div>
                    <div class="ngCustomSelect" data-style="checkbox" onclick="return false;">
                        <div style="clear:both;"></div>
                        <div class="col-sm-12 col-md-12 col-lg-12 CustomSelectItem"
                             style="padding: 5px 0px 0px 5px;background-color:#eaeaea;"
                             ng-show="myroot.Core.IsShowCheckboxAll && myroot.LstFilter.length > 0"
                             ng-click="myroot.chkAll.IsChecked_ = !myroot.chkAll.IsChecked_;myroot.chkAll.OnClick();">
                            <label>
                                <input type="checkbox" class="checkbox style-0"
                                       ng-model="myroot.chkAll.IsChecked_"
                                       ng-click="myroot.chkAll.OnClick()">
                                <span>
                                    <span style="position:relative;top:1px;">Tất cả</span>
                                </span>
                            </label>
                        </div>
                        <div style="clear:both;"></div>
                        <div class="col-md-12 CustomSelectItem" ng-class="{'IsChecked' : item.IsChecked_}"
                             style="padding: 5px 0px 0px 5px;"
                             ng-repeat="item in myroot.LstFilter = ( myroot.Lst | filter: myroot.CustomFilter )"
                             ng-click="item.IsChecked_ = !item.IsChecked_; myroot.OnItemClick(item);">
                            <label ng-show="myroot.Core.CustomSelectType == 'Multiple'">
                                <input type="checkbox" class="checkbox style-0"
                                       ng-model="item.IsChecked_">
                                <span>
                                    <span style="position:relative;top:1px;">{{item[myroot.Core.Text]}}</span>
                                </span>
                            </label>
                            <label ng-show="myroot.Core.CustomSelectType == 'Single'">
                                <span>
                                    <span style="position:relative;top:1px;">{{item[myroot.Core.Text]}}</span>
                                </span>
                            </label>
                        </div>

                        <div class="col-md-12"
                             style="padding: 5px 0px 0px 5px;"
                             ng-show="myroot.LstFilter.length == 0">
                            <label style="text-align:center;">
                                Không tìm thấy.
                            </label>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <span class="input-group-addon" style="{{ !myroot.IsDisableOpenTree ? '' : 'padding-top: 0px;cursor:pointer;'}}">
        <i class="icon-append fa fa-angle-down" style="position: relative;top: 0px;font-size: 16px;"></i>
    </span>
</div> 