@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="content-wrapper">
    <div class="content-inner">
        <div class="page-header page-header-light shadow">
            <div class="page-header-content d-lg-flex border-top">
                <div class="d-flex">
                    <div class="breadcrumb py-2">
                        <a asp-controller="Home" asp-action="Index" class="breadcrumb-item"><i class="ph-house"></i></a>
                        <span class="breadcrumb-item active">Nhân Viên</span>
                        <span class="breadcrumb-item active"><a asp-controller="NhanVien" asp-action="Index">DS Nhân Viên</a></span>
                        <span class="breadcrumb-item active"><a asp-controller="NhanVien" asp-action="Create">Thêm Nhân Viên</a></span>

                    </div>

                    <a href="#breadcrumb_elements"
                       class="btn btn-light align-self-center collapsed d-lg-none border-transparent rounded-pill p-0 ms-auto"
                       data-bs-toggle="collapse">
                        <i class="ph-caret-down collapsible-indicator ph-sm m-1"></i>
                    </a>
                </div>
            </div>
        </div>
        <div class="content">
            <div class="card">
                <h6 style="font-size: 30px; text-align: center;margin: 15px 0px;color: #0066FF; ">Thêm Nhân Viên</h6>
                <form asp-action="Create" method="post" enctype="multipart/form-data">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <fieldset style="margin: 15px !important;">
                        <div class="row">
                            <div class="col-lg-6">
                                <div class="mb-3">
                                    <label class="control-label">CCCD</label>
                                    <input class="form-control" />
                                    <span class="text-danger"></span>
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <label class="control-label">Tên Nhân Viên</label>
                                <input type="text" class="form-control">
                            </div>
                            <div class="col-lg-6">
                                <div class="mb-3">
                                    <label class="control-label">Giới Tính</label>
                                    <select class="form-control">
                                        <option value="1">Nam</option>
                                        <option value="0">Nữ</option>
                                    </select>
                                    <span class="text-danger"></span>
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="mb-3">
                                    <label class="control-label">Ngày Sinh</label>
                                    <input class="form-control" />
                                    <span class="text-danger"></span>
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="mb-3">
                                    <label class="control-label">Địa Chỉ</label>
                                    <input class="form-control" />
                                    <span class="text-danger"></span>
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="mb-3">
                                    <label class="control-label">Số Điện Thoại</label>
                                    <input type="text" class="form-control">
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="mb-3">
                                    <label class="control-label">Email</label>
                                    <input type="text" class="form-control">
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="mb-3">
                                    <label class="control-label">Chức Vụ</label>
                                    <select class="form-control" asp-items="ViewBag.ChucVuList"></select>
                                    <span class="text-danger"></span>
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="mb-3">
                                    <label class="control-label">Phòng Ban</label>
                                    <select class="form-control" asp-items="ViewBag.PhongBanList"></select>
                                    <span class="text-danger"></span>
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="mb-3">
                                    <label class="control-label">Tình Trạng</label>
                                    <select class="form-control">
                                        <option value="1">Đang Làm</option>
                                        <option value="0">Nghỉ Việc</option>
                                    </select>
                                    <span class="text-danger"></span>
                                </div>
                            </div>                       
                            <div class="col-lg-6">
                                <div class="mb-3">
                                    <label class="control-label"></label>
                                    <input type="file" class="form-control" accept=".jpg,.jpeg,.png">
                                    <span class="text-danger"></span>
                                </div>
                            </div>
                        </div>
                    </fieldset>
                    <div style="justify-content:center" class="card-footer d-flex justify-content-center">
                        <a class="btn btn-primary ms-3" style="text-decoration: none;"
                           asp-action="Index">Quay Lại</a>
                        <button style="width: 90px" type="submit" value="Tạo" class="btn btn-primary ms-3">Tạo</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
